@charset "utf-8";
* {
    font-family: "맑은 고딕";
    color: black;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.contents {
    width: 400px;
    padding-top: 300px;
}

.contents a {
    font-size: 25px;
    font-family: "G마켓 산스";
    font-weight: lighter;
    text-decoration: none;
}

.contents a:hover {
    color: rgb(78, 0, 0);
}