@charset "utf-8";
* {
    font-family: "맑은 고딕";
    color: black;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    background-color: #881C21;
}

.wrap {
    width: 1200px;
}

.logo {
    float: left;
    width: 250px;
    height: 100px;
}

.logo img {
    float: left;
    width: 200px;
    height: 70px;
    margin-top: 15px;
    margin-left: 20px;
}
#menu_bg {
    width: 1200px;
    height: 90px;
    position: absolute;
    display: none;
    z-index: 2;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    float: right;
    width: 800px;
    height: 100px;
    z-index: 1;
}

.navi {
    float: right;
    margin-top: 50px;
    margin-right: 0px;
}
.navi>li {
    float: left;
}
.navi>li>a {
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    background-color: #881C21;
    color: #ffffff;
}
.navi>li>a:hover {
    background-color: aliceblue;
    color: #881C21;
}

.submenu {
    width: 180px;
    height: 160px;
    position: absolute;
    display: none;
    z-index: 3;
}
.submenu>li>a {
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(231, 231, 231);
}
.submenu>li>a:hover {
    background-color: rgb(136, 4, 4);
    color: aliceblue;
}

.imgslide {
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}

.imgslide>a {
    display: block;
    position: absolute;
}
.imgtext{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    left: 40%;
    top: 40%;
    line-height: 50px;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
}

.contents {
    width: 1200px;
    height: 430px;
}

.notice {
    float: left;
    width: 400px;
    height: 400px;
}
.tab {
    float: left;
    width: 400px;
}
.notice h4 {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.notice>div {
    float: left;
    width: 380px;
    border-bottom-color: #333;
    border-bottom-style: solid;
    margin-left: 10px;
}
.notice ul {
    float: left;
    width: 400px;
}
.notice li {
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.notice li span {
    float: right;
    margin-right: 10px;
    color: #7e7e7e;
}
.notice li:nth-child(2n) {
    background-color: #333333;
}
.notice li:hover {
    font-weight: bold;
}
.notice a {
    margin-left: 10px;
    color: #7e7e7e;
}

.shortcut {
    float: right;
    width: 800px;
    height: 200px;
}
.shortcut img {
    float: right;
    width: 800px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
}
.sctext {
    float: right;
    width: 700px;
    height: 50px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    background-color: rgba(40, 40, 40, 0.5);
    margin-top: 120px;
    margin-left: 50px;
}
.sctext:hover {
    opacity: 0.5;
}


footer {
    width: 100%;
    height: 100px;
    background-color: #CCCCCC;
    position: relative;
    transform: translateY(0%);
    border-top: 1px;
}

.copy {
    float: left;
    width: 550px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    color: #ffffff;
}
.unknown {
    float: right;
    width: 400px;
    height: 50px;
    margin-top: 10px;
}
.unknown ul {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.unknown li {
    display: inline-block;
}
.unknown img {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.unknown img:hover {
    opacity: 0.5;
}

.site {
    float: right;
    width: 400px;
    height: 100px;
}

.unknown {
    float: right;
    width: 400px;
    height: 50px;
}