@charset "utf-8";
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #ffffff;
}
html, body {
    min-width: 1200px;
    font-size: 20px;  
    background-color: black; 
}

.store {     /* 헤더와 푸터 영역 콘텐츠 묶어줌 */
    width: 1200px; /* 헤더와 푸터 영역 콘텐츠 너비*/
}
header {
    width: 100%;
    height: 100px;
}
.store img {
    width: 100%;
    height: 100%;
}